<div
  class="structure-container"
  [style.fontFamily]="getFontFamily()"
  #structureContainer
>
  <!-- Header Section -->
  <app-section-hover-wrapper
    [isMobile]="isMobileLayout"
    [isMobileView]="isMobileView"
    (onEdit)="handleComponentSelection('header')"
  >
    <app-structure-header
      [isMobileLayout]="isMobileLayout"
      [customizations]="customizations()?.header"
      [currentPage]="currentPage"
      [plan]="currentPlan"
      [businessType]="businessType"
      (pageChange)="navigateToPage($event)"
      (sectionScroll)="handleSectionScroll($event)"
    >
    </app-structure-header>
  </app-section-hover-wrapper>

  <div class="dynamic-pages-content">
    <!-- For standard plan, we only need the home page with all sections -->
    <app-home-standard
      *ngIf="currentPlan === 'standard'"
      [customizations]="homeCustomizationsSignal"
      [wholeData]="wholeDataSignal"
      [isMobileLayout]="isMobileLayout"
      [isMobileView]="isMobileView"
      [planType]="currentPlan"
      [businessType]="businessType"
      (sectionSelected)="handlePageSectionEdit($event)"
    ></app-home-standard>

    <!-- For premium plan, conditionally render the current page based on route -->
    <ng-container *ngIf="currentPlan === 'premium'" [ngSwitch]="currentPage">
      <app-home-standard
        *ngSwitchCase="'home'"
        [customizations]="homeCustomizationsSignal"
        [wholeData]="wholeDataSignal"
        [isMobileLayout]="isMobileLayout"
        [isMobileView]="isMobileView"
        [planType]="currentPlan"
        [businessType]="businessType"
        (sectionSelected)="handlePageSectionEdit($event)"
      ></app-home-standard>

      <app-about-standard
        *ngSwitchCase="'about'"
        [customizations]="aboutCustomizationsSignal"
        [isMobileLayout]="isMobileLayout"
        [isMobileView]="isMobileView"
        [businessType]="businessType"
        (sectionSelected)="handlePageSectionEdit($event)"
      ></app-about-standard>

      <!-- <app-contact-standard
        *ngSwitchCase="'contact'"
        [customizations]="contactCustomizationsSignal"
        [isMobileLayout]="isMobileLayout"
        [isMobileView]="isMobileView"
        [businessType]="businessType"
        (sectionSelected)="handlePageSectionEdit($event)"
      ></app-contact-standard> -->

      <!-- Default case if page is not found -->
      <div *ngSwitchDefault class="page-not-found">
        <h2>Page Not Found</h2>
        <p>The requested page does not exist.</p>
      </div>
    </ng-container>
  </div>

  <!-- Footer Section -->
  <app-section-hover-wrapper
    [isMobile]="isMobileLayout"
    [isMobileView]="isMobileView"
    (onEdit)="handleComponentSelection('footer')"
  >
    <app-structure-footer [customizations]="customizations()?.footer">
    </app-structure-footer>
  </app-section-hover-wrapper>
</div>
