<svg
  class="icon-svg"
  [ngClass]="{
    'fullscreen-icon': name === 'enterFullscreen' || name === 'exitFullscreen'
  }"
  [attr.width]="width"
  [attr.height]="height"
  viewBox="0 0 24 24"
  fill="none"
  [attr.stroke]="getStrokeValue()"
  [attr.stroke-width]="getStrokeWidth()"
  stroke-linecap="round"
  stroke-linejoin="round"
  xmlns="http://www.w3.org/2000/svg"
>
  <ng-container [ngSwitch]="name">
    <!-- Desktop icon -->
    <ng-container *ngSwitchCase="'desktop'">
      <path
        d="M20 4H4C2.89543 4 2 4.89543 2 6V15C2 16.1046 2.89543 17 4 17H20C21.1046 17 22 16.1046 22 15V6C22 4.89543 21.1046 4 20 4Z"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M8 20H16"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M12 17V20"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </ng-container>

    <!-- Mobile icon -->
    <ng-container *ngSwitchCase="'mobile'">
      <rect
        x="7"
        y="2"
        width="10"
        height="20"
        rx="3"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M7 6H17"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
      />
      <path
        d="M7 18H17"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
      />
      <circle cx="12" cy="20" r="1" fill="currentColor" />
    </ng-container>

    <!-- Enter Fullscreen icon -->
    <ng-container *ngSwitchCase="'enterFullscreen'">
      <path
        d="M8 3H5C3.89543 3 3 3.89543 3 5V8"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M16 3H19C20.1046 3 21 3.89543 21 5V8"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M8 21H5C3.89543 21 3 20.1046 3 19V16"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M16 21H19C20.1046 21 21 20.1046 21 19V16"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </ng-container>

    <!-- Exit Fullscreen icon -->
    <ng-container *ngSwitchCase="'exitFullscreen'">
      <polyline points="16 4 12 8 8 4" />
      <polyline points="16 20 12 16 8 20" />
      <polyline points="4 8 8 12 4 16" />
      <polyline points="20 8 16 12 20 16" />
    </ng-container>

    <!-- Star icon -->
    <ng-container *ngSwitchCase="'star'">
      <path
        d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"
        fill="currentColor"
      />
    </ng-container>

    <!-- Edit icon -->
    <ng-container *ngSwitchCase="'edit'">
      <path
        d="M3 17.25V21H6.75L17.81 9.94L14.06 6.19L3 17.25ZM20.71 7.04C21.1 6.65 21.1 6.02 20.71 5.63L18.37 3.29C17.98 2.9 17.35 2.9 16.96 3.29L15.13 5.12L18.88 8.87L20.71 7.04Z"
        fill="currentColor"
      />
    </ng-container>

    <!-- View icon -->
    <ng-container *ngSwitchCase="'view'">
      <path
        d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z"
        fill="currentColor"
      />
    </ng-container>

    <!-- Reset icon -->
    <ng-container *ngSwitchCase="'reset'">
      <path
        d="M17.65 6.35C16.2 4.9 14.21 4 12 4C7.58 4 4.01 7.58 4.01 12C4.01 16.42 7.58 20 12 20C15.73 20 18.84 17.45 19.73 14H17.65C16.83 16.33 14.61 18 12 18C8.69 18 6 15.31 6 12C6 8.69 8.69 6 12 6C13.66 6 15.14 6.69 16.22 7.78L13 11H20V4L17.65 6.35Z"
        fill="currentColor"
      />
    </ng-container>

    <!-- Save icon -->
    <ng-container *ngSwitchCase="'save'">
      <path
        d="M17 3H5C3.89 3 3 3.9 3 5V19C3 20.1 3.89 21 5 21H19C20.1 21 21 20.1 21 19V7L17 3ZM19 19H5V5H16.17L19 7.83V19ZM12 12C10.34 12 9 13.34 9 15C9 16.66 10.34 18 12 18C13.66 18 15 16.66 15 15C15 13.34 13.66 12 12 12ZM7 7H15V9H7V7Z"
        fill="currentColor"
      />
    </ng-container>

    <!-- Cart/Checkout icon -->
    <ng-container *ngSwitchCase="'cart'">
      <path
        d="M7 18C5.9 18 5.01 18.9 5.01 20C5.01 21.1 5.9 22 7 22C8.1 22 9 21.1 9 20C9 18.9 8.1 18 7 18ZM17 18C15.9 18 15.01 18.9 15.01 20C15.01 21.1 15.9 22 17 22C18.1 22 19 21.1 19 20C19 18.9 18.1 18 17 18ZM7.17 14.75L7.2 14.63L8.1 13H15.55C16.3 13 16.96 12.59 17.3 11.97L21.16 4.96L19.42 4H19.41L18.31 6L15.55 11H8.53L8.4 10.73L6.16 6L5.21 4L4.27 2H1V4H3L6.6 11.59L5.25 14.04C5.09 14.32 5 14.65 5 15C5 16.1 5.9 17 7 17H19V15H7.42C7.29 15 7.17 14.89 7.17 14.75Z"
        fill="currentColor"
      />
    </ng-container>
  </ng-container>
</svg>
