<div
  class="hover-wrapper"
  [class.view-mobile]="isMobileView === 'view-mobile'"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  <!-- Remove the separate hover-effect div as we'll use ::before pseudo-element -->

  <!-- Improved Edit Button -->
  <button
    class="edit-button"
    [class.visible]="isHovered && !isMobile"
    (click)="onEdit.emit(); $event.stopPropagation()"
  >
    <img src="assets/preview/logo-inside.svg" />
  </button>

  <ng-content></ng-content>
</div>